<%- include("header") -%>
  <body>
    <!-- Begin page content -->
    <main role="main" class="container">
      <h1> <%= info[1] %> </h1>
      <h2>By: <%= info[2] %> </h2>
      <img src = <%= info[3] %> >
      <div id="playAudio" style="margin-top:5%">
        <audio controls name="media" height="70" width="500">
          <source src="<%= info[4] %>" type="audio/x-m4a">
        </audio>
      </div>

      <form class="form-close" action="/" method="post" style="margin-top:30px">
        <input type="hidden" name="songName" value="<%=info[0]%>">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Go Back</button>
      </form>
    </main>
  </body>

<%- include("footer") -%>
