<%- include("header") -%>
  <body>
    <!-- Begin page content -->
    <main role="main" class="container">
      <h1> <%= info[0] %> </h1>
      <h2>By: <%= info[1] %> </h2>
      <img src = <%= info[2] %> >
      <div id="playAudio">
        <video controls name="media" height="70" width="500">
          <source src="<%= info[3] %>" type="audio/x-m4a">
        </video>
      </div>

      <form class="form-close" action="/close" method="post" style="margin-top:30px">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Return to new search</button>
      </form>
    </main>
  </body>

<%- include("footer") -%>
