<%- include("header") -%>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <body>
    <div class="container">
      <h2>Song</h2>
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" id="songs-carousel">
          <div class="item active">
            <p><%=musicTitle[0] %></p>
            <p><%=musicSinger[0] %></p>
            <img src=<%=musicImage[0] %> alt=<%=musicSinger[0] %> style="width:100 height:40;">
            <form class="form-close" action="/learn-more" method="post" style="margin-top:30px">
              <input type="hidden" name="musicTitle" value=<%=musicTitle[0]%>>
              <input type="hidden" name="musicImage" value=<%=musicImage[0]%>>
              <input type="hidden" name="musicSinger" value=<%=musicSinger[0]%>>
              <input type="hidden" name="musicUri" value=<%=musicUri[0]%>>
              <button class="btn btn-lg btn-primary btn-block" type="submit">Learn More</button>
            </form>
          </div>

          <% for(var i = 1; i < musicSinger.length; i++){ %>
            <div class="item">
              <p><%=musicTitle[i] %></p>
              <p><%=musicSinger[i] %></p>
              <img src=<%=musicImage[i] %> alt=<%=musicSinger[i] %> style="width:100 height:40;">
              <form class="form-close" action="/learn-more" method="post" style="margin-top:30px">
                <input type="hidden" name="musicTitle" value=<%=musicTitle[0]%>>
                <input type="hidden" name="musicImage" value=<%=musicImage[0]%>>
                <input type="hidden" name="musicSinger" value=<%=musicSinger[0]%>>
                <input type="hidden" name="musicUri" value=<%=musicUri[0]%>>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Learn More</button>
              </form>
            </div>
          <% } %>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      </div>

      <form class="form-close" action="/close" method="post" style="margin-top:30px">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Return to new search</button>
      </form>
  </body>

<%- include("footer") -%>
